body {
	background: url('../img/bg1.jpg');
	background-size: cover;
	font-family: "Microsoft Yahei";
}
a {
	text-decoration: none;
	transition: .3s;
}
a:link {
	color: #666;
}
a:visited {
	color: #666;
}
a:hover {
	color: #eee;
	text-decoration: overline;
}
a:active {
	color: #666;
}
li {
	list-style: none;
}
ul {
	margin: 0;
	padding: 0;
}
/*功能*/
.left {
	float: left;
}
.right {
	float: right;
}
.text-center {
	text-align: center;
}
/*框架*/
.contain {
	margin: auto;
	padding: 20px;
}
/*主页*/
.book, .work {
	width: 100px;
	margin: 20px;
}
.about {
	color: #555;
}
.indexList {
	margin-top: 130px;
}
.indexList a {
	margin-left: 10px;
	margin-right: 10px;
}
.indexList a:hover {
	border-bottom: 1px solid #eee;
}
/*书籍*/
.bookList li {
	list-style: none;
}
